
<div class="col-md-offset-4 col-md-5 col-sm-4">
  <div class="card">
    <div class="card-body">

      <h1>Editing Event Sub Event</h1>

      <%= render 'form', event_sub_event: @event_sub_event %>

      <%= link_to 'Show', @event_sub_event %> |
      <%= link_to 'Back', event_sub_events_path %>
    </div>
  </div>
</div>
